ion-card-title {
    font-size: 1.4em;
    font-weight: bold;
    color: #2c3e50;
  }
  
  ion-item {
    --background: transparent;
  }
  
  .contact-info a {
    color: var(--ion-color-primary);
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  ion-toolbar {
    --background: linear-gradient(to right, #3b5998, #192f6a);
    text-align: center;
  }
  
  ion-content {
    background-color: #f9f9f9;
  }
  