<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mes Favoris</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  @if(isLoading){  
    <ion-list>
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ion-list>
  } 
    <ion-list>
      @for(favorite of favorites;track $index){
        <ion-item (click)="selectionMusique(favorite)">
          <ion-thumbnail slot="start">
            <img src="../../assets/icon/musik.webp"  alt="{{favorite.title}}">
          </ion-thumbnail>
          <ion-label>
            <h1>{{ favorite.artistName }}</h1>
            <h3>{{ favorite.title }}</h3>
          </ion-label>
          <ion-icon slot="end" name="heart" color="danger" (click)="removeFavorite(favorite)"></ion-icon>
        </ion-item>
      }
    </ion-list>
  <ion-list>
    @if(favorites.length === 0){ 
      <ion-item>
        <ion-label>Aucun favori trouvé.</ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>