<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="home" >
      <ion-icon name="home"  ></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="albums">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>Albums </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favoris">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favoris </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="apropos">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>A propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
