ion-content{
  --ion-background-color:rgba(0, 255, 0, 0.11);
 }
ion-tab-button{
  --color-selected: rgb(53, 24, 212); /* Couleur du bouton actif */
  --color: black; /* Couleur des boutons inactifs */
}