<ion-content>

  <!-- Bannière -->
  <div class="banner">
    <p>Bannière promotionnelle ou informations</p>
  </div>

  <!-- Carrousel pour les chansons -->
  <div id="container">
    <swiper-container
      #swiper
      (afterinit)="swiperReady()"
      (slidechange)="swiperSlideChanged($event)"
      [pagination]="{type:'bullets', clickable:true}"
      [loop]="false"
      slides-per-view="1"
      navigation="true"
    >
    @for(i of fonds;track $index){
      <swiper-slide>
        <div class="carrousel">
          <img src="../../assets/icon/{{i}}" class="rounded-image" alt="Chanson">
          <ion-button fill="clear" class="btn-prev" (click)="goPrev()">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" class="btn-next" (click)="goNext()">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </swiper-slide>
    }
    </swiper-container>
  </div>

  <!-- Section artistes populaires -->
  <ion-item class="ion-padding">
    <ion-label>
      <h2 id="artistes"><b>Artistes populaires</b></h2>
    </ion-label>
  </ion-item>

  <ion-grid>
    <ion-row class="populaires">
      @for(i of fonds;track $index){
      <ion-col size="4" size-md="4" size-sm="4" size-md="2" size-lg="2" size-xl="2">
        <div class="image-container">
          <img src="../../assets/icon/{{i}}" class="rounded-image" alt="Image" />
        </div>
      </ion-col>
    }
    </ion-row>
  </ion-grid>

</ion-content>
