.banner {
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}

.carrousel {
  position: relative;
  text-align: center;
  margin: 10px 0;
}

.rounded-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.artist-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.populaires {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Active le défilement horizontal */
  -webkit-overflow-scrolling: touch; /* Pour un scroll fluide sur mobile */
  padding: 10px 0;
}

.artist-image {
  border-radius: 50%; /* Image ronde */
  width: 80px; /* Taille uniforme des images */
  height: 80px;
  object-fit: cover;
}

.image-container {
  text-align: center;
  padding: 5px;
}

.artist-col {
  margin-right: 10px; /* Espace entre les artistes */
}
.horizontal-scroll-container {
  display: flex;
  align-items: center;
  position: relative;
}

.populaires {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth; /* Défilement fluide */
  -webkit-overflow-scrolling: touch;
}

.scroll-btn {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}
